
body {
    font-family: Comfortaa;
    font-size: 18px;
    background-color: #edede9;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

header .nav-link:hover {
    color: #faedcd;
}

header .nav-link {
    color: black
}

header {
    background-color: #ccd5ae;
}

header .nav-link:active, .nav-link:focus {
    color: #fb6f92
} 

input[type = "search"] {
    border: none;
    background-color: #edede9;
}

.plus-badge {
    font-size: 10px;
    padding: 10px 10px;
    background: rgb(158,180,124);
background: radial-gradient(circle, rgba(158,180,124,1) 0%, rgba(74,128,56,1) 64%);
}

.main {
    font-family: Comfortaa;
    text-align: center;
}

h1 {
    font-size: 80px;
    margin-top: 90px;
    margin-bottom: 90px;
}

hr {
    opacity: 1;
    margin-left: 38px;
    margin-right: 38px;
}

.card-body {
    background-color: white;
}

.card {
    border: none;
}

.albums .card:hover {
    outline: 4px solid #d4a373 ;
    padding: 10px;
    background-color: #edede9;
}

.footer {
    margin-top: 250px;
}

h2 {
    margin-top: 45px; 
}

.togg {
    margin-top: 150px;
}

.music {
    margin-top: 90px;
}

.goto {
    font-size: medium;
}

goto1 {
    font-size: 15px;
}

.albums a {
    color: black;
    text-decoration: none;
    background-color: #edede9;
}

.list-group-item:hover {
    outline: 4px solid #d4a373;
    z-index: 1;
}